.gallery_wrapper {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: black;
}
.gallery {
  border: 1px solid black;
  /* height: 800px;
  width: 600px; */
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(4, 100px);
  gap: 20px;
  background-color: black;
}

/* template grid */
.gallery div:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery div:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery div:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery div:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery div:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery div:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery div:nth-child(7) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
.pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pictures img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.lightbox_content {
  position: absolute;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 10;
  margin: auto;
}
.lightbox_gallery {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  position: relative;
}
.lightbox_gallery img {
  max-height: 80vh;
}
.lightbox_gallery i {
  font-size: 50px;
  color: white;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin: 30px;
}
.close i {
  color: white;
}
